# Created by .ignore support plugin (hsz.mobi)
/app/
/node_modules/
.idea
/app/js/Carousel.js
/dist/
!/dist/css/
!/dist/img/
!/dist/js/
!/dist/index.html
!/dist/cart.html
!/dist/product.html
!/dist/checkout.html
!/dist/single_page.html
!/dist/getCart.json
